NEXTAUTH_SECRET=your-random-secret-here-run-openssl-rand-base64-32
NEXTAUTH_URL=http://localhost:3000
MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/wanderly?retryWrites=true&w=majority
ANTHROPIC_API_KEY=sk-ant-your-key-here
GEMINI_API_KEY=your-gemini-api-key-here
#if needed add upstash creds 
UPSTASH_REDIS_REST_URL="https://your-upstash-url.upstash.io"
UPSTASH_REDIS_REST_TOKEN="your_upstash_token"
#weather api key
OPENWEATHERMAP_API_KEY="your-openweathermap-api-key-here"